<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_campus_clutch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_campus_clutch">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Registration Activity -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" /> <!-- Departments Activity -->
        <activity
            android:name=".DepartmentsActivity"
            android:exported="false" /> <!-- Faculty Activity -->
        <activity
            android:name=".FacultyActivity"
            android:exported="false" /> <!-- Courses Activity -->
        <activity
            android:name=".CoursesActivity"
            android:exported="false" /> <!-- Students Activity -->
        <activity
            android:name=".StudentsActivity"
            android:exported="false" />
    </application>

</manifest>